{% macro professionals_wid(professionals) -%}
    <div class="card">
        <div class="content">
            <div class="header">
                <div class="center aligned ui">
                    <img height="100" src="">
                </div>
                <hr>
                <a href="{{ url_for('professionalss.professionals_details', professionals_id=professionals.id, professionals_title=professionals.professionals_title, professionals_city=professionals.professionals_city, professionals_state=professionals.professionals_state, professionals_country=professionals.professionals_country) }}">{{ professionals.title }}</a>
            </div>
            <div class="meta">Published By :<span class="ui primary label">{{ professionals.name }}</span></div>
            <div class="meta">Published&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ professionals.pub_date.strftime( '%d %B, %Y ') }}<br>
                Ends&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ professionals.end_date.strftime( '%d %B, %Y ') }}</div>
            <div class="description">
                {{ professionals.city }}, {{ professionals.state }}, {{ professionals.country }}
            </div>
        </div>
    </div>
{%- endmacro %}
